

.ocha-logo {
  align-self: flex-start;
  border-right: 1px solid #418FDE;
  margin-bottom: 10px;
  margin-right: 10px;
  padding-right: 10px;
  width: 90px;
  height: 80px;
}
.title {
	display: flex;
}

.description {
	text-align: justify;
	padding-left: 15px;
	padding-right: 15px;
}

/*hr{
    margin-top: 5px;
    margin-bottom: 10px;
    border-top: 1px solid #5A86B5;
}*/
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #5A86b5;
}
#dropdown{
	width: 90%;
	height: 30px;
	margin: 0 10px 0 10px;
	font-size: 15px;
}
#map {
	width: 100%;
	height: 750px;
}

#map > svg{
    border: 1px solid #CCC;
}

#map > svg path{
    fill: #CCDDEE;
    stroke: #FFF;
    stroke-width: 1;
}

#map .zoomBtn{
    background-color: #FFF;
    border: 1px solid #CCC;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    bottom: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    height: 25px;
    line-height: 16px;
    position: absolute;
    right: 25px;
    text-align: center;
    width: 25px;
}
#map #zoom-in{
    bottom: 34px;
}

#maplegend{
    background-color: rgba(204,204,204,0.5);
    bottom: 5px;
    display: none;
    font-size: 11px;
    left: 20px;
    padding: 8px;
    position: absolute;
}
#maplegend ul{
    list-style-type: none;
    padding: 0;
}
#maplegend li{
    margin-top: 5px;
}
#maplegend li > div{
    display: inline-block;
    min-width: 16px;
}
#maplegend .marker{
    background-color: rgba(0,119,190,0.5);
    border-radius: 50%;
    margin: 0 auto;
}
#maplegend .key{
    margin-left: 10px;
}

#maplegend p{
	font-size: 14px;
    margin: 0 0 0 0;
}

.d3-tip {
    padding:5px;
    background-color:white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size:1em;
}

.map-tip{
  position: absolute;
}
.hidden { 
  display: none; 
}
.logo{
	width: 100%;
	height: 80px;
}